# Ignore dataset files
data/
*.csv

# Ignore trained models
models/
*.h5
*.pkl

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment
venv/
.env

# Ignore cloud credentials (VERY IMPORTANT)
*.json
